.contactstyle{
  height: 450px;
  width: 100%;
  background: #3C3B3F;
  /*background: #badc58;
  background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);
  background: linear-gradient(to right, #605C3C, #3C3B3F);
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
